body {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
  background: #f1f1f1;
  width: 912px;
  padding-bottom: 100px;
  border: ;
}
.title-bar {
  width: 912px;
  height: 96px;
  background: #adb5bd;
}
.title {
  font-size: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 50px;
  margin-bottom: 32px;
  color: #959595;
  font-weight: bold;
}
div.logo {
  position: relative;
  margin-left: 32px;
  top: 32px;
  margin-bottom: 32px;
  height: 40px;
  width: 400px;
  top: 20px;
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.logo-img {
  vertical-align: middle;
  width: 10%;
  margin-right: 10px;
}

.participant {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: red;
  display: flex;
  justify-content: space-between;
  height: 72px;
}
.add-participant {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
  margin-left: 32px;
  margin-right: 32px;
}
form tr {
  vertical-align: middle;
}
.partipant-table {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
  margin-left: 32px;
  margin-right: 32px;
  width: 93%;
  border-collapse: collapse;
  border: none;
  table-layout: inherit;
}
.partipant-table td {
  border: none;
  margin: 5px;
  border-bottom: 0.1em solid rgba(153, 153, 153, 0.15);
  outline: none;
}

.form {
  display: inline;
  margin-top: 30px;
}
input {
  position: relative;
  height: 40px;
  width: 200px;
  border: 1px solid #e8e8e8;
  vertical-align: middle;
  margin-top: 16px;
  padding-left: 16px;
  margin-right: 16px;
  background: #f1f1f1;
  text-align: left;
  color: #757575;
  font-size: 14px;
}
.add {
  background: #0077ff;
  height: 40px;
  color: #ffffff;
  border: 1px solid #e8e8e8;
  width: 80px;
  text-align: center;
}
table thead tr th {
  background: #ffffff;
  color: #505050;
  font-size: 14px;
  padding-bottom: 12px;
  height: 48px;
  text-align: left;
  line-height: 16px;
  font-weight: 500;
  border-collapse: collapse;
  border: none;
  outline: none;
  border-bottom: 0.1em solid rgba(153, 153, 153, 0.15);
}
table td {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 72px;
  /*border-bottom: thin solid;
  outline: thin solid;*/
}
table tr {
  margin-left: 24px;
}

.edit-delet-buttons {
  width: 80px;
}
.edit-delet-buttons div {
  margin: auto;
  width: 118px;
}
.save-cancel-buttons {
  /*width:100px;*/
}
.save {
  background: #0077ff;
  color: #ffffff;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  font-weight: 400;
  width: 30x;
}
.cancel {
  background: #f1f1f1;
  border: 1px solid #e8e8e8;
  color: #0077ff;
  font-size: 9px;
  font-weight: 400;
  margin-right: 0.5em;
  width: 30px;
}
table td,
table th {
  border-bottom: none;
  padding: 8px;
}

.fa-pencil {
  fill: #909090;
  height: 24;
  width: 24;
  display: inline-block;
  margin-right: 1.5em;
  float: left;
}
.fa-trash-o {
  float: left;
  cursor: pointer;
}
a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
